In [189]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [190]:
df=pd.read_csv("7 churn.csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [191]:
columns_to_keep = [
    'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines',
    'InternetService', 'OnlineSecurity', 'DeviceProtection', 'TechSupport',
    'StreamingTV', 'StreamingMovies', 'PaperlessBilling', 'PaymentMethod', 'Contract',
    'TotalCharges', 'Churn','tenure', 'MonthlyCharges'
] #feature selection

df = df[columns_to_keep]
df.head()

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,PaymentMethod,Contract,TotalCharges,Churn,tenure,MonthlyCharges
0,Female,0,Yes,No,No,No phone service,DSL,No,No,No,No,No,Yes,Electronic check,Month-to-month,29.85,No,1,29.85
1,Male,0,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Mailed check,One year,1889.5,No,34,56.95
2,Male,0,No,No,Yes,No,DSL,Yes,No,No,No,No,Yes,Mailed check,Month-to-month,108.15,Yes,2,53.85
3,Male,0,No,No,No,No phone service,DSL,Yes,Yes,Yes,No,No,No,Bank transfer (automatic),One year,1840.75,No,45,42.30
4,Female,0,No,No,Yes,No,Fiber optic,No,No,No,No,No,Yes,Electronic check,Month-to-month,151.65,Yes,2,70.70

In [192]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

# List of categorical columns
categorical_cols = [
    col for col in [
        'gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines',
        'InternetService', 'OnlineSecurity', 'DeviceProtection',
        'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
        'PaperlessBilling', 'PaymentMethod'
    ] if col in df.columns  # Include only existing columns
]

In [193]:
df

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,PaymentMethod,Contract,TotalCharges,Churn,tenure,MonthlyCharges
0,Female,0,Yes,No,No,No phone service,DSL,No,No,No,No,No,Yes,Electronic check,Month-to-month,29.85,No,1,29.85
1,Male,0,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Mailed check,One year,1889.5,No,34,56.95
2,Male,0,No,No,Yes,No,DSL,Yes,No,No,No,No,Yes,Mailed check,Month-to-month,108.15,Yes,2,53.85
3,Male,0,No,No,No,No phone service,DSL,Yes,Yes,Yes,No,No,No,Bank transfer (automatic),One year,1840.75,No,45,42.30
4,Female,0,No,No,Yes,No,Fiber optic,No,No,No,No,No,Yes,Electronic check,Month-to-month,151.65,Yes,2,70.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,Yes,Yes,DSL,Yes,Yes,Yes,Yes,Yes,Yes,Mailed check,One year,1990.5,No,24,84.80
7039,Female,0,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,No,Yes,Yes,Yes,Credit card (automatic),One year,7362.9,No,72,103.20
7040,Female,0,Yes,Yes,No,No phone service,DSL,Yes,No,No,No,No,Yes,Electronic check,Month-to-month,346.45,No,11,29.60
7041,Male,1,Yes,No,Yes,Yes,Fiber optic,No,No,No,No,No,Yes,Mailed check,Month-to-month,306.6,Yes,4,74.40
7042,Male,0,No,No,Yes,No,Fiber optic,Yes,Yes,Yes,Yes,Yes,Yes,Bank transfer (automatic),Two year,6844.5,No,66,105.65

In [194]:
binary_columns = ['Partner', 'Dependents', 'PhoneService', 'Churn','OnlineSecurity','DeviceProtection','TechSupport','StreamingTV','StreamingMovies'
                 ,'PaperlessBilling']
df[binary_columns] = df[binary_columns].replace({'Yes':1,'No':0})
df[['MultipleLines','Contract']] = df[['MultipleLines','Contract']].replace({'Yes':1,'No':0,'No phone service': 3,"Month-to-month":0,'One year':1,'Two year':2})
df['gender'] = df['gender'].replace({'Male':1,'Female':0})
df['OnlineSecurity'] = df['OnlineSecurity'].replace({'Yes':1,'No':0})
df['DeviceProtection'] = df['DeviceProtection'].replace({'Yes':1,'No':0})
df['TechSupport'] = df['TechSupport'].replace({'Yes':1,'No':0})
df['StreamingTV'] = df['StreamingTV'].replace({'Yes':1,'No':0})
df['StreamingMovies'] = df['StreamingMovies'].replace({'Yes':1,'No':0})
df['PaperlessBilling'] = df['PaperlessBilling'].replace({'Yes':1,'No':0})
df['PaymentMethod'] = df['PaymentMethod'].replace({'Electronic check':1,'Mailed check':2,'Bank transfer (automatic)':3,'Credit card (automatic)':4})
df['InternetService'] = df['InternetService'].replace({'No ':0,'Fiber optic':1,'DSL':2})

C:\Users\shefa\AppData\Local\Temp\ipykernel_24544\3360161519.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[binary_columns] = df[binary_columns].replace({'Yes':1,'No':0})
C:\Users\shefa\AppData\Local\Temp\ipykernel_24544\3360161519.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[['MultipleLines','Contract']] = df[['MultipleLines','Contract']].replace({'Yes':1,'No':0,'No phone service': 3,"Month-to-month":0,'One year':1,'Two year':2})
C:\Users\shefa\AppData\Local\Temp\ipykernel_24544\3360161519.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['gender'] = df['gender'].replace({'Male':1,'Female':0})
C:\Users\shefa\AppData\Local\Temp\ipykernel_24544\3360161519.py:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['PaymentMethod'] = df['PaymentMethod'].replace({'Electronic check':1,'Mailed check':2,'Bank transfer (automatic)':3,'Credit card (automatic)':4})

In [195]:
df

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,PaymentMethod,Contract,TotalCharges,Churn,tenure,MonthlyCharges
0,0,0,1,0,0,3,2,0,0,0,0,0,1,1,0,29.85,0,1,29.85
1,1,0,0,0,1,0,2,1,1,0,0,0,0,2,1,1889.5,0,34,56.95
2,1,0,0,0,1,0,2,1,0,0,0,0,1,2,0,108.15,1,2,53.85
3,1,0,0,0,0,3,2,1,1,1,0,0,0,3,1,1840.75,0,45,42.30
4,0,0,0,0,1,0,1,0,0,0,0,0,1,1,0,151.65,1,2,70.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,1,1,2,1,1,1,1,1,1,2,1,1990.5,0,24,84.80
7039,0,0,1,1,1,1,1,0,1,0,1,1,1,4,1,7362.9,0,72,103.20
7040,0,0,1,1,0,3,2,1,0,0,0,0,1,1,0,346.45,0,11,29.60
7041,1,1,1,0,1,1,1,0,0,0,0,0,1,2,0,306.6,1,4,74.40
7042,1,0,0,0,1,0,1,1,1,1,1,1,1,3,2,6844.5,0,66,105.65

In [196]:
#Split training and testing set
X=df.drop('Churn',axis=1)
Y=df['Churn']

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [197]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5634 entries, 2142 to 860
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            5634 non-null   int64
 1   SeniorCitizen     5634 non-null   int64
 2   Partner           5634 non-null   int64
 3   Dependents        5634 non-null   int64
 4   PhoneService      5634 non-null   int64
 5   MultipleLines     5634 non-null   int64
 6   InternetService   5634 non-null   object
 7   OnlineSecurity    5634 non-null   object
 8   DeviceProtection  5634 non-null   object
 9   TechSupport       5634 non-null   object
 10  StreamingTV       5634 non-null   object
 11  StreamingMovies   5634 non-null   object
 12  PaperlessBilling  5634 non-null   int64
 13  PaymentMethod     5634 non-null   int64
 14  Contract          5634 non-null   int64
 15  TotalCharges      5634 non-null   object
 16  tenure            5634 non-null   int64
 17  MonthlyCharges    5634 non-null   float64
dtypes: float64(1), int64(10), object(7)
memory usage: 836.3+ KB

In [198]:
#Covert Columns into int from object
X_train['TotalCharges'] = pd.to_numeric(X_train['TotalCharges'], errors='coerce')
X_test['TotalCharges'] = pd.to_numeric(X_test['TotalCharges'], errors='coerce')

X_train['StreamingMovies'] = pd.to_numeric(X_train['StreamingMovies'], errors='coerce')
X_test['StreamingMovies'] = pd.to_numeric(X_test['StreamingMovies'], errors='coerce')

X_train['StreamingTV'] = pd.to_numeric(X_train['StreamingTV'], errors='coerce')
X_test['StreamingTV'] = pd.to_numeric(X_test['StreamingTV'], errors='coerce')

X_train['TechSupport'] = pd.to_numeric(X_train['TechSupport'], errors='coerce')
X_test['TechSupport'] = pd.to_numeric(X_test['TechSupport'], errors='coerce')

X_train['DeviceProtection'] = pd.to_numeric(X_train['DeviceProtection'], errors='coerce')
X_test['DeviceProtection'] = pd.to_numeric(X_test['DeviceProtection'], errors='coerce')

X_train['OnlineSecurity'] = pd.to_numeric(X_train['OnlineSecurity'], errors='coerce')
X_test['OnlineSecurity'] = pd.to_numeric(X_test['OnlineSecurity'], errors='coerce')

X_train['InternetService'] = pd.to_numeric(X_train['InternetService'], errors='coerce')
X_test['InternetService'] = pd.to_numeric(X_test['InternetService'], errors='coerce')

In [199]:
# Replace missing values in the columns with the mean of the column
X_train.fillna({'TotalCharges': X_train['TotalCharges'].mean()}, inplace=True)
X_test.fillna({'TotalCharges': X_test['TotalCharges'].mean()}, inplace=True)

X_train.fillna({'StreamingMovies': X_train['StreamingMovies'].mean()}, inplace=True)
X_test.fillna({'StreamingMovies': X_test['StreamingMovies'].mean()}, inplace=True)

X_train.fillna({'StreamingTV': X_train['StreamingTV'].mean()}, inplace=True)
X_test.fillna({'StreamingTV': X_test['StreamingTV'].mean()}, inplace=True)

X_train.fillna({'TechSupport': X_train['TechSupport'].mean()}, inplace=True)
X_test.fillna({'TechSupport': X_test['TechSupport'].mean()}, inplace=True)

X_train.fillna({'DeviceProtection': X_train['DeviceProtection'].mean()}, inplace=True)
X_test.fillna({'DeviceProtection': X_test['DeviceProtection'].mean()}, inplace=True)

X_train.fillna({'OnlineSecurity': X_train['OnlineSecurity'].mean()}, inplace=True)
X_test.fillna({'OnlineSecurity': X_test['OnlineSecurity'].mean()}, inplace=True)

X_train.fillna({'InternetService': X_train['InternetService'].mean()}, inplace=True)
X_test.fillna({'InternetService': X_test['InternetService'].mean()}, inplace=True)

In [200]:
#standardise features
scaler = StandardScaler() 
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [201]:
X_test

array([[-1.02516569, -0.4377492 ,  1.03137591, ..., -1.00239435,
        -1.28460467, -1.33162874],
       [ 0.97545208, -0.4377492 , -0.96957859, ..., -0.57263968,
         0.35323794, -1.31667194],
       [-1.02516569, -0.4377492 ,  1.03137591, ..., -0.55704883,
         0.80364466, -1.51277218],
       ...,
       [ 0.97545208, -0.4377492 ,  1.03137591, ..., -0.86751688,
        -0.62946762, -1.49449165],
       [-1.02516569, -0.4377492 ,  1.03137591, ...,  0.29587033,
         1.49972776, -0.69513389],
       [ 0.97545208, -0.4377492 , -0.96957859, ..., -0.99949732,
        -1.28460467, -1.11392424]])

In [202]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
lg=LogisticRegression()
lg.fit(X_train, Y_train)
Y_pred=lg.predict(X_test)

In [203]:
Y_pred

array([1, 0, 0, ..., 0, 0, 1])

In [204]:
#Find Accuracy
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,Y_pred)

0.8168914123491838

In [205]:
print(df['InternetService'].unique())

[2 1 'No']

In [215]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Load your dataset
# Replace with your actual dataset path

# Ensure preprocessing is done
binary_columns = ['Partner', 'Dependents', 'PhoneService', 'Churn', 'OnlineSecurity', 'DeviceProtection', 
                  'TechSupport', 'StreamingTV', 'StreamingMovies', 'PaperlessBilling']
df[binary_columns] = df[binary_columns].replace({'Yes': 1, 'No': 0})

df[['MultipleLines', 'Contract']] = df[['MultipleLines', 'Contract']].replace(
    {'Yes': 1, 'No': 0, 'No phone service': 3, "Month-to-month": 0, 'One year': 1, 'Two year': 2}
)
df['gender'] = df['gender'].replace({'Male': 1, 'Female': 0})
df['PaymentMethod'] = df['PaymentMethod'].replace(
    {'Electronic check': 1, 'Mailed check': 2, 'Bank transfer (automatic)': 3, 'Credit card (automatic)': 4}
)
df['InternetService'] = df['InternetService'].replace({'No ': 0, 'Fiber optic': 1, 'DSL': 2})

# Check the data
print(df.head())

   gender  SeniorCitizen  Partner  Dependents  PhoneService  MultipleLines  \
0       0              0        1           0             0              3
1       1              0        0           0             1              0
2       1              0        0           0             1              0
3       1              0        0           0             0              3
4       0              0        0           0             1              0

  InternetService OnlineSecurity DeviceProtection TechSupport StreamingTV  \
0               2              0                0           0           0
1               2              1                1           0           0
2               2              1                0           0           0
3               2              1                1           1           0
4               1              0                0           0           0

  StreamingMovies  PaperlessBilling  PaymentMethod  Contract TotalCharges  \
0               0                 1              1         0        29.85
1               0                 0              2         1       1889.5
2               0                 1              2         0       108.15
3               0                 0              3         1      1840.75
4               0                 1              1         0       151.65

   Churn  tenure  MonthlyCharges
0      0       1           29.85
1      0      34           56.95
2      1       2           53.85
3      0      45           42.30
4      1       2           70.70

In [207]:
# Features and target
X = df.drop(columns=['Churn'])  # Drop the target column
y = df['Churn']                # Target column

In [208]:
# Convert categorical columns to numeric
X['InternetService'] = X['InternetService'].replace({'No': 0, 'Fiber optic': 1, 'DSL': 2})
X['OnlineSecurity'] = X['OnlineSecurity'].replace({'Yes': 1, 'No': 0, 'No internet service' : 2})
X['DeviceProtection'] = X['DeviceProtection'].replace({'Yes': 1, 'No': 0, 'No internet service' : 2})
X['TechSupport'] = X['TechSupport'].replace({'Yes': 1, 'No': 0})
X['StreamingTV'] = X['StreamingTV'].replace({'Yes': 1, 'No': 0, 'No internet service' : 2})
X['StreamingMovies'] = X['StreamingMovies'].replace({'Yes': 1, 'No': 0, 'No internet service' : 2})

C:\Users\shefa\AppData\Local\Temp\ipykernel_24544\886243248.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X['InternetService'] = X['InternetService'].replace({'No': 0, 'Fiber optic': 1, 'DSL': 2})
C:\Users\shefa\AppData\Local\Temp\ipykernel_24544\886243248.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X['OnlineSecurity'] = X['OnlineSecurity'].replace({'Yes': 1, 'No': 0, 'No internet service' : 2})
C:\Users\shefa\AppData\Local\Temp\ipykernel_24544\886243248.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X['DeviceProtection'] = X['DeviceProtection'].replace({'Yes': 1, 'No': 0, 'No internet service' : 2})
C:\Users\shefa\AppData\Local\Temp\ipykernel_24544\886243248.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X['StreamingTV'] = X['StreamingTV'].replace({'Yes': 1, 'No': 0, 'No internet service' : 2})
C:\Users\shefa\AppData\Local\Temp\ipykernel_24544\886243248.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X['StreamingMovies'] = X['StreamingMovies'].replace({'Yes': 1, 'No': 0, 'No internet service' : 2})

In [209]:
# Get unique values for all columns in the DataFrame
unique_values = df.apply(lambda x: x.unique())

# Print the unique values
print(unique_values)

gender                                                         [0, 1]
SeniorCitizen                                                  [0, 1]
Partner                                                        [1, 0]
Dependents                                                     [0, 1]
PhoneService                                                   [0, 1]
MultipleLines                                               [3, 0, 1]
InternetService                                            [2, 1, No]
OnlineSecurity                            [0, 1, No internet service]
DeviceProtection                          [0, 1, No internet service]
TechSupport                               [0, 1, No internet service]
StreamingTV                               [0, 1, No internet service]
StreamingMovies                           [0, 1, No internet service]
PaperlessBilling                                               [1, 0]
PaymentMethod                                            [1, 2, 3, 4]
Contract                                                    [0, 1, 2]
TotalCharges        [29.85, 1889.5, 108.15, 1840.75, 151.65, 820.5...
Churn                                                          [0, 1]
tenure              [1, 34, 2, 45, 8, 22, 10, 28, 62, 13, 16, 58, ...
MonthlyCharges      [29.85, 56.95, 53.85, 42.3, 70.7, 99.65, 89.1,...
dtype: object

In [210]:
X['TotalCharges'] = pd.to_numeric(X['TotalCharges'], errors='coerce')

In [211]:
print(X.isna().sum())

gender               0
SeniorCitizen        0
Partner              0
Dependents           0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
PaperlessBilling     0
PaymentMethod        0
Contract             0
TotalCharges        11
tenure               0
MonthlyCharges       0
dtype: int64

In [212]:
X.fillna(X.mean(), inplace=True)  # Fill missing values with the mean
# OR
# X.dropna(inplace=True)  # Drop rows with missing values

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
print(X.isna().sum())

In [ ]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scale the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
# Predict on the test set
y_pred = lg.predict(X_test_scaled)

# Add predictions to the test DataFrame
X_test['ChurnPrediction'] = y_pred

# Save the results to a new CSV
X_test.to_csv("churn_predictions.csv", index=False)

print("Predictions saved to churn_predictions.csv")

In [214]:
#save model
import pickle
pickle.dump(lg,open('Churn_Predictor.pkl','wb'))

In [ ]:
# import pandas as pd
# from sklearn.preprocessing import LabelEncoder, StandardScaler
# from sklearn.linear_model import LogisticRegression

# # Assuming you have a trained Logistic Regression model `lg`
# lg = LogisticRegression()

# # Initialize label encoder and scaler
# label_encoder = LabelEncoder()
# scaler = StandardScaler()

# def predictive(gender, senior_citizen, partner, dependents, phone_service, multiline, internet_service, online_security, 
#                device_protection, tech_support, streamingTV, streaming_movies, paperless_billing, payment_method, contract, 
#                total_charges, tenure, monthly_charges):
#     # Create the data dictionary
#     data = {
#         'gender': [gender],            
#         'SeniorCitizen': [senior_citizen],   
#         'Partner': [partner],           
#         'Dependents': [dependents],         
#         'PhoneService': [phone_service],      
#         'MultipleLines': [multiline],     
#         'InternetService': [internet_service],
#         'OnlineSecurity': [online_security],    
#         'DeviceProtection': [device_protection],  
#         'TechSupport': [tech_support],        
#         'StreamingTV': [streamingTV],       
#         'StreamingMovies': [streaming_movies],    
#         'PaperlessBilling': [paperless_billing],  
#         'PaymentMethod': [payment_method],       
#         'Contract': [contract],            
#         'TotalCharges': [total_charges],      
#         'tenure': [tenure],              
#         'MonthlyCharges': [monthly_charges]
#     }

#     df = pd.DataFrame(data)

#     # Handle 'No phone service' case: Convert to 'No' before label encoding
#     df['MultipleLines'] = df['MultipleLines'].replace('No phone service', 'No')

#     # Encode the categorical columns
#     categorical_columns = ['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines',
#         'InternetService', 'OnlineSecurity', 'DeviceProtection',
#         'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
#         'PaperlessBilling', 'PaymentMethod']

#     for column in categorical_columns:
#         df[column] = label_encoder.fit_transform(df[column])

#     # Convert 'TotalCharges' and 'tenure' to numeric values if they are not already
#     df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
#     df['tenure'] = pd.to_numeric(df['tenure'], errors='coerce')
#     df['MonthlyCharges'] = pd.to_numeric(df['MonthlyCharges'], errors='coerce')

#     numerical_columns = ['TotalCharges', 'tenure', 'MonthlyCharges']
#     df_numerical = df[numerical_columns]

#     # Apply scaling to the numerical columns
#     df_numerical_scaled = scaler.fit_transform(df_numerical)

#     df_scaled = pd.concat([pd.DataFrame(df_numerical_scaled, columns=numerical_columns), df[categorical_columns]], axis=1)

#     # Predict using the logistic regression model
#     result = lg.predict(df_scaled).reshape(1, -1)
    
#     return result[0]

In [ ]:
# gender ='Female'
# senior_citizen ='No'
# partner = 'Yes' 
# dependents ='No'
# phone_service = 'No'
# multiline ='No phone service'  
# internet_service ='DSL'
# online_security ='No'
# device_protection ='No'
# tech_support ='No'
# streamingTV ='No' 
# streaming_movies ='No'
# paperless_billing ='Yes' 
# payment_method ='Electronic check'
# contract='Month-to-month'  
# total_charges ='29.85'
# tenure ='1'
# monthly_charges ='29.85'  

# result=predictive(gender,senior_citizen,partner,dependents,phone_service, multiline,internet_service,online_security, device_protection,tech_support,
#                 streamingTV ,streaming_movies,paperless_billing,payment_method,contract,total_charges,tenure, monthly_charges)

# if result==1:
#     print('Churn')
# else:
#     print('Not Churn')